export CYPRESS_TEACHERS_USERNAME="$(bo show credential concourse-main smoke-tests.smoke-tests-teachers username)"
export CYPRESS_TEACHERS_PASSWORD="$(bo show credential concourse-main smoke-tests.smoke-tests-teachers password)"
export CYPRESS_PUBLISHER_USERNAME="$(bo show credential concourse-main smoke-tests.publisher username)"
export CYPRESS_PUBLISHER_PASSWORD="$(bo show credential concourse-main smoke-tests.publisher password)"
export TEACHERS_USERNAME="$(bo show credential concourse-main smoke-tests.publisher username)"
export TEACHERS_PASSWORD="$(bo show credential concourse-main smoke-tests.publisher password)"
