---
platform: linux

image_resource:
  type: docker-image
  source:
    repository: node
    tag: 10.16-buster

inputs:
- name: source

outputs:
- name: metrics

run:
  path: source/pipeline/scripts/jest

params:
  SPEC:
  TEACHERS_USERNAME:
  TEACHERS_PASSWORD:

caches:
- path: ../../../root/.cache
- path: ../../../root/.npm
